#message_list {
  grid-area: message_list;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
  overflow-y: auto;
}

/* 
.message {
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 20px;
}

.message_content {
  display: grid;
}

.my_message {
  justify-content: end;
}

.my_message .message_content {
  justify-items: end;
}

.other_message {
  justify-items: start;
}

.other_message .message_content {
  grid-template-columns: 48px 1fr;
  grid-column-gap: 15px;
}

.message img {
  border-radius: 100%;
  grid-row: span 2;
}

.message_time {
  font-size: 12px;
  color: #777;
}

.message_text {
  padding: 9px 14px;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.my_message .message_text {
  font-size: 16px;
  background: #0048AA;
  color: #eee;
  border: 1px solid #0048AA;
  border-radius: 14px 14px 0;
}

.other_message .message_text {
  font-size: 16px;
  background: #eee;
  color: #111;
  border: 1px solid #ddd;
  border-radius: 0 14px 14px;
} */