

.chat {
  display: flex;
  background: #fff;
  margin: 0 auto;
}

.chat__dialogues {
  border-right: 1px solid grey;
  /* padding: 10px 15px; */
  
}

.chat__wrapper{
  background: rgb(223, 223, 223);
  border-bottom: 1px solid grey;
}

.chat__dialogues_header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.chat__dialogues_owner {
}

.chat__dialogues_owner img{
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.chat__search {
  padding: 20px 15px;
}

.chat__dialogues_list {
  height: 80vh;
  overflow-y: auto;
}

.chat__messages{
  flex: 1;
}

.chat__messages_dialogue {
  padding: 20px 15px;
  overflow-y: auto;
}
