.chat__messages_owner {
  display: flex;
  padding: 10px 15px;
  background: rgb(223, 223, 223);
  border-bottom: 1px solid grey;
}

.chat__messages_owner img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.chat__messages_dialogue {
  padding: 20px 15px;
  overflow-y: auto;
}

.chat__messages_input {
  padding: 20px 15px;
  border-top: 1px solid grey;
  background: rgb(223, 223, 223);
}