.inputs {
  display: grid;
  margin-bottom: 30px;
}

.content {
  position: relative;
}

.input {
  font-family: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;
  border: none;
  outline: none;
  z-index: 1;
  padding: 1rem;
  border-bottom: 1px solid grey;
}

.label {
  position: absolute;
  top: .75rem;
  left: .75rem;
  width: 100%;
  color: grey;
  transition: .3s;
}

.input:focus+.label {
  top: -.75rem;
  left: 0;
  z-index: 10;
}

.input:not(:placeholder-shown).input:not(:focus)+.label {
  top: -.75rem;
  font-size: 12px;
  z-index: 10;
}
