.section {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  margin-bottom: 60px;
  background-color: rgb(242, 242, 242);
}

.section > h3 {
  margin-bottom: 20px;
}